.debug {
	border: 1px red solid;
}

h2,
h3 {
	font-family: 'Outfit', sans-serif;
}

p {
	font-family: 'Urbanist', sans-serif;
	font-size: 15px;
}

h2 {
	padding: 15px 0 0 0;
	margin: 0;
	font-size: 21px;
	color: whitesmoke;
}

.decripTect {
	color: #778ca9;
	padding-bottom: 7px;
}

.screen {
	background-color: white;
	margin: auto;
	width: 375px;
	height: 600px;
	padding-top: 20px;
}

.container {
	background-color: #15273f;
	margin: auto;
	width: 300px;
	border-radius: 10px;
	padding-top: 1%;
}

.content {
	margin-top: 8%;
	padding: 0px 25px;
	padding-bottom: 15px;
}

.nftImage,
.nftImageSec {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: 250px;
	border-radius: 10px;
}

.eyeIcon {
	position: absolute;
	top: 42%;
	left: 41%;
	transition: .6s ease;
}

.overLay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background: rgba(0, 166, 190, 0.5);
	border-radius: 10px;
}

.nftImageSec:hover .overLay {
	opacity: 1;
	cursor: pointer;
}

.nftImageSec:hover .eyeIcon {
	z-index: 1;
	cursor: pointer;
}

.infoSec {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

.ETH {
	color: #28f0ee;
}

.days {
	color: #91add6;
}

.svgInfoSec {
	padding-right: 5px;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid #778ca9;
	padding-bottom: 5px;
}

#creatorIntro {
	color: #778ca9;
}

#creatorName {
	color: white;
}

#creatorName:hover,
#nftName:hover {
	color: #28f0ee;
	cursor: pointer;
}

h3 {
	display: inline-block;
	text-align: right;
	margin: 0px;
	padding: 0px;
}

.alignContent {
	display: flex;
	justify-content: center;
}

.profileImg {
	border: 1px solid white;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

.author {
	width: auto;
	height: auto;
	padding: 5px 0 0 20px;
	margin: 0;
}

footer {
	display: flex;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
